* {
    font-family: 'Rajdhani', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.top {
    height: 100vh;
    width: 100%;
    background-image: url(./images/back4.jpg);
    background-size: cover;
    padding-top: 45px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo {
    letter-spacing: 12px;
    font-weight: 300;
    color: white;
    font-size: 55px;
    cursor: pointer;
}

span {
    color: rgb(214, 138, 51);
    border-bottom: solid 1px rgb(214, 138, 51);
    text-shadow: 5px 5px 10px #ff9933;

}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 1px;
}

nav ul li a:hover {
    transition: .4s;
    color: #684bca;
    text-shadow: 5px 5px 10px #684bca;
}

.btn {
    font-size: 27px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: #51c8e9;
    border: #51c8e9 5px solid;
    padding: 0.25em 1em;
    border-radius: 0.1em;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.5), 0 0 0.45em currentColor;
    font-weight: 950;
    box-shadow: 0 0 0.8em hsl(0 0% 100% / 0.5), 0 0 0.45em currentColor;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 1px 1px #51c8e9;

}

.btn::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background: #51c8e9;
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
}

.btn::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(#51c8e9);
    opacity: 0;
    background-color: #51c8e9;
    z-index: -1;
    transition: opacity 100ms linear;
}

.btn:hover,
.btn:focus {
    background: var(#51c8e9);
    color: var(#51c8e9);
    text-shadow: none;
}

.btn:hover::before,
.btn:focus::before {
    opacity: 1;
}

.btn:hover::after,
.btn:focus::after {
    opacity: 1;
}

.content {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

h1 {
    color: #684bca;
    margin: 20px 0px 20px;
    letter-spacing: 15px;
    font-weight: bolder;
    font-size: 85px;
    text-shadow: -2px 2px 1px #ffffff;
}

h3 {
    color: white;
    font-size: 30px;
    margin-bottom: 50px;
    letter-spacing: 2px;
}

h4 {
    color: white;
    letter-spacing: 2px;
    font-size: 25px;
}

.news form {
    width: 380px;
    max-width: 100%;
    position: relative;
}

.news form input:first-child {
    display: inline-block;
    width: 100%;
    padding: 14px 150px 14px 15px;
    border: 2px solid #ffffff;
    outline: none;
    border-radius: 30px;
    background-color: transparent;
}

.news form input:last-child {
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #51c8e9;
    color: white;
    box-shadow: 0px 0px 20px #ffffff, 0px 0px 25px #51c8e9;
    top: 4px;
    right: 6px;
    font-weight: 950;
    letter-spacing: 2px;
    cursor: pointer;
}

.news form input:last-child:hover {
    background: transparent;
    border: 2px solid #51c8e9;
}

::placeholder { 
    color: white;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    text-shadow: 8px 5px 8px #ffffff;
}

.about {
    width: 100%;
    padding: 100px 0px;
    background-color: #0d1a25;
}

.about img {
    height: auto;
    width: 500px;
}

.about-text {
    width: 550px;
    margin-left: 35px;
}

.main {
    width: 1130px;
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2 {
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5 {
    color: white;
    letter-spacing: 8px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text p {
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

button {
    background-color: #51c8e9;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 15px 35px;
    border-radius: 30px;
    transition: transform .4s;
    margin-bottom: 30px;
    font-size: 25px;
    letter-spacing: 2px;
}

button:hover {
    background: url(https://i.pinimg.com/originals/c6/a2/fb/c6a2fb8cd65edc585019348f6aa48e45.gif);
    border: 2px solid white;
    cursor: pointer;
    text-shadow: 1px 1px white;
    transform: scale(1.1)
}

.service {
    background: #000;
    width: 100%;
    padding: 100px 0px;
}

.title h2 {
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    gap: 15px;
}

.card-one,
.card-two,
.card-three {
    height: 470px;
    width: 335px;
    padding: 20px 35px;
    background: #684bca;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card-one i,
.card-two i,
.card-three i {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: white;
}

h5 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #ffffff;
    text-shadow: 1px 1px white;
}

.par p {
    color: white;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 25px;
    text-shadow: 1px 1px black;
    font-weight: bold;
}

.card-one .button,
.card-two .button,
.card-three .button {
    background-color: #ff9933;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 8px 22px;
    border-radius: 30px;
    transition: transform .4s;
    margin-bottom: 30px;
    text-shadow: 1px 1px white;
    font-size: 18px;
    margin-top: 10px;
}

.card-one {
    background: url(https://www.cbc.ca/kidsnews/content/New_Coral_reef_GIF.gif);
}

.card-two {
    background: url(https://media2.giphy.com/media/f7dOyKWHyovYAidmi2/giphy.gif?cid=ecf05e479yuntwpeuipisk3ss5t23zatg9dw1vb4nyx4qk33&ep=v1_gifs_related&rid=giphy.gif&ct=g);
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}

.card-three {
    background: url(https://media3.giphy.com/media/H55ruY9f3EevZulgUy/giphy.gif?cid=ecf05e47xy9erelz29sczd6z2ukydveq0c2wyauqvin5q5yi&ep=v1_gifs_search&rid=giphy.gif&ct=g);
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}

.card-one .button:hover,
.card-two .button:hover,
.card-three .button:hover {
    border: 2px solid #ffffff;
    cursor: pointer;
    transform: scale(1.2)
}

.contact-us {
    width: 100%;
    height: 450px;
    background: url(./images/fish.jpg);
    background-position-x: center;
    background-position-y: 4250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact-us p {
    color: white;
    font-size: 30px;
    font-weight: 200;
    margin-bottom: 15px;
    text-align: center;
    width: 1500px;
    padding-top: 20px;
}

.contact-us h6 {
    color: white;
    font-size: 22px;
    padding-bottom: 20px;
    font-weight: bolder;
    text-shadow: 1px 1px white;
    letter-spacing: 2px;
}

.contact-us .guy {
    text-align: end;
    padding-top: 0;
    padding-right: 70px;
    margin-bottom: 75px;
}

.contact-us .button-two {
    background-color: #0d1a25;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
    font-size: 25px;
    text-shadow: 1px 1px white;
}

.contact-us .button-two:hover {
    transform: scale(1.2);
    border: 2px solid #51c8e9;
    background: url(https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExbnp6ODJkdHp5NzRwZzJodnBvdmp6bXg2N241bDFhanB0cWVvcWg5OSZlcD12MV9naWZzX3NlYXJjaCZjdD1n/KZFrf9JusXzmpnPsT6/giphy-downsized-large.gif);
}

footer {
    position: relative;
    width: 100%;
    height: 400px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer p:nth-child(1) {
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}

footer p:nth-child(2) {
    color: white;
    font-size: 16px;
    width: 500px;
    text-align: center;
    line-height: 28px;
}

.social {
    display: flex;
}

.social a {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #684bca;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.social a:hover {
    transform: scale(1.2);
    transition: .3;
}

.end {
    position: absolute;
    color: #ff9933;
    bottom: 35px;
    font-size: 16px;
}

.questions {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 35px 10px;
    gap: 35px;
    background: #000;
}

details {
    border: 1px outset;
    padding: 20px;
}

.bar {
    font-size: 50px;
    color: white;
    padding: 20px;
    cursor: pointer;
}

.info {
    color: white;
    font-size: 18px;
}

details h6 {
    color: #ff9933;
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 15px;
    padding-top: 18px;
}

.questions ul li {
    list-style: disc;
}

.info p {
    padding-top: 15px;
    font-size: 21px;
    font-weight: 600;
}

details .words {
    padding-left: 42px;
    padding-bottom: 20px;
}