* {
    font-family: 'Rajdhani', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.top {
    height: 100vh;
    width: 100%;
    background-image: url(./images/back4.jpg);
    background-size: cover;
    padding-top: 45px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo {
    letter-spacing: 12px;
    font-weight: 300;
    color: white;
    font-size: 55px;
    cursor: pointer;
}

span {
    color: rgb(214, 138, 51);
    border-bottom: solid 1px rgb(214, 138, 51);
    text-shadow: 5px 5px 10px #ff9933;

}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 1px;
}

nav ul li a:hover {
    transition: .4s;
    color: #684bca;
    text-shadow: 5px 5px 10px #684bca;
}

.btn {
    font-size: 27px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: #51c8e9;
    border: #51c8e9 5px solid;
    padding: 0.25em 1em;
    border-radius: 0.1em;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.5), 0 0 0.45em currentColor;
    font-weight: 950;
    box-shadow: 0 0 0.8em hsl(0 0% 100% / 0.5), 0 0 0.45em currentColor;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 1px 1px #51c8e9;

}

.btn::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background: #51c8e9;
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
}

.btn::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(#51c8e9);
    opacity: 0;
    background-color: #51c8e9;
    z-index: -1;
    transition: opacity 100ms linear;
}

.btn:hover,
.btn:focus {
    background: var(#51c8e9);
    color: var(#51c8e9);
    text-shadow: none;
}

.btn:hover::before,
.btn:focus::before {
    opacity: 1;
}

.btn:hover::after,
.btn:focus::after {
    opacity: 1;
}

.content {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

h1 {
    color: #684bca;
    margin: 20px 0px 20px;
    letter-spacing: 15px;
    font-weight: 950px;
    font-size: 80px;
    text-shadow: -2px 4px 3px #ffffff;
}

h3 {
    color: white;
    font-size: 30px;
    margin-bottom: 50px;
    letter-spacing: 2px;
}

h4 {
    color: white;
    letter-spacing: 2px;
    font-size: 25px;
}

.news form {
    width: 380px;
    max-width: 100%;
    position: relative;
}

.news form input:first-child {
    display: inline-block;
    width: 100%;
    padding: 14px 150px 14px 15px;
    border: 2px solid #ffffff;
    outline: none;
    border-radius: 30px;
    background-color: transparent;
}

.news form input:last-child {
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #51c8e9;
    color: white;
    box-shadow: 0px 0px 20px #ffffff, 0px 0px 25px #51c8e9;
    top: 6px;
    right: 6px;
    font-weight: 950;
    letter-spacing: 2px;
}

::placeholder { 
    color: white;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    text-shadow: 8px 5px 8px #ffffff;
}
